* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../assets/ApercuPro-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../assets/ApercuPro-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../assets/ApercuPro-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Basetica';
    src: url('../assets/Basetica-Medium.otf');
    font-weight: 500;
}

:root {

    // Colors
    --gradient: linear-gradient(-45deg, #161618, #313132);
    --white: #fff;
    --black: #000;
    --line: #505050;
    --color: #efc862;
    --dark-gray: #646464;
    --gray: #a1a1a1;
    --rgb: rgba(0, 0, 0, 0.5);

    color-scheme: dark;
}

html,
body {
    font-family: 'Apercu Pro';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

.app-styled {
    display: grid;
    grid-template-columns: 100px auto;
    background: var(--gradient);
    letter-spacing: 1px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .app-styled {
        grid-template-columns: 1fr;
    }
}

@import './Sidebar.scss';
@import './Home.scss';
@import './Navbar.scss';
@import './Contact.scss';