.navbar-styled {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 777;


    .search {
        cursor: pointer;
        transition: 0.4s color ease;

        &.active {
            color: var(--color);
        }
    }

    .search-input {
        background: var(--white);
        border-radius: 8px;
        border: none;
        outline: none;
        width: 350px;
        padding: 10px;
        height: 40px;
        color: black;
        font-size: 1.1rem;
    }

    .logo {
        font-family: 'Basetica';
        font-size: 40px;
        font-weight: 500;
    }

    .links-styled {
        display: flex;
        align-items: center;
        gap: 75px;

        .links {
            display: flex;
            align-items: center;
            gap: 55px;

            a {
                cursor: pointer;
                text-decoration: none;
                color: var(--white);
                position: relative;

                &.active {
                    color: var(--color);

                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: var(--color);
                        display: block;
                        position: absolute;
                        bottom: -30px;
                    }
                }
            }
        }
    }

    .btn-mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar-styled {
        padding: 10px 25px;

        .logo {
            font-size: 30px;
        }

        .links-styled {
            gap: 25px;

            .links {
                display: none;
            }

            .btn-mobile {
                display: block;
            }
        }
    }
}