.nolockin-section {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //padding-bottom: 30vh;
  min-height: 100vh;
  //padding-top: 100vh;
  margin-bottom: 30vh;
  //padding-top: 30vh;

  svg {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    width: 150px;
    height: 150px;

    path {
      color: var(--color);
    }
  }
}