.menu-btn {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    cursor: pointer;
    position: fixed;
    z-index: 999;


    &:hover {
        background: var(--line);
    }
}

.sidebar-styled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    //width: 100%;
    width: 80px;
    border-right: 1px solid var(--line);
    background: #2d2d2e;
    position: fixed;
    left: -80px;
    z-index: 998;
    transition: 0.3s all ease;

    &.active {
        left: 0;
    }

    .social {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 40px;
        left: -80px;

        span {
            transform: rotate(-90deg);
            transition: color 0.2s ease;

            &:hover {
                color: var(--color);
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 600px) {
    .sidebar-styled {
        display: none;
    }
}